body {
  padding-top: 56px;
}

.left-aligned {
  margin-left: auto;
}

.bg-dark {
  background-color: #343a40 !important;
}

.bg-hero {
  background-color: #45b06cff;
}

/* CALLOUT */
.bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #e9ecef;
  border-left-width: 0.25rem;
  border-radius: 0.25rem;
}

.bd-callout h4 {
  margin-bottom: 0.25rem;
}

.bd-callout p:last-child {
  margin-bottom: 0;
}

.bd-callout code {
  border-radius: 0.25rem;
}

.bd-callout + .bd-callout {
  margin-top: -0.25rem;
}

.bd-callout-info {
  border-left-color: #5bc0de;
}

.bd-callout-warning {
  border-left-color: #f0ad4e;
}

.bd-callout-danger {
  border-left-color: #d9534f;
}

/* footer */
footer a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

footer a:hover {
  color: white;
  text-decoration: underline;
}

/* navbar */
.custom-dropdown-menu {
  /* navbar folder的设置 */
  /* background-color: #1b1a1a;  //自定义背景色 */
  color: #030303;  /* 自定义文字颜色 */
}

.custom-dropdown-menu.dropdown-item {
  /* navbar folder 展开时字体颜色与背景 */
  /* background-color: #4d4949; */
  color: #000000;  /* 自定义每个菜单项的文字颜色 */
}

.custom-dropdown-menu.dropdown-item:hover {
  background-color: #e4dfb4;  /* 鼠标悬停时的背景色 */
  color: #39d197;  /* 鼠标悬停时的文字颜色 */
}

/* header */
.bg-miami {
  background-image: url('/src/asset/miami.jpg'); /* 背景图片路径 */
  background-size: cover;        /* 使背景图片覆盖整个容器 */
  background-position: center;   /* 居中对齐背景图片 */
  background-repeat: no-repeat;  /* 防止背景图片重复 */
  background-attachment: fixed;  /* 固定背景图片，使其在滚动时不移动 */
}
